.footer{
    background-image: $backone;
    a{
        text-decoration: none;
        color: $text;
    }
    ul li{
        list-style: none;
    }
    img{
        width: 25px;
        height: 25px;
    }
}
.footer a:hover{
    color: $link;
}
