.header{
    background-image: $backone;
    opacity: 0.9;
    nav{
        background-image: $backone;
    }
    a:hover{
        color: $link;
        transform: scale(1.2);
        transition-duration: .5s;
    }
}
.active{
    font-weight: bold ;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    img{
        width: 150px;
        height: 150px;
    }
}
