//contenedor main para todos los html
.main{
    margin-top: 220px;
}
//clase de animacion para index.html, nosotros.html y productos.html
.principal {
    animation-duration: 2s;
    animation-name: slidein;
}
//galeria de productos animacion y medidas
.container img{
    @extend %medidasImg;
}
.container img:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition-duration: 1s;
    border: $second solid 2px;
    border-radius: 5px;
}
//modificacion de etiqueta strong
strong{
    font-weight:normal;
}
//clases para texto de todos los htmls
.texto{
    color: $text;
}
.textos{
    color: $text;
    font-size: x-large;
}
//agregado de hover Fotos novedades.html 
.fotoNov:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition-duration: 2s;    
}
//tabla de contacto.html
.table{
    border: solid $third 5px;
    color: $second;
    margin-top: 5px;
    margin-bottom: 5px;
}
//formulario de contacto.html y agregado de clase en boton de nosotros.html con hover
.color{
    @include colors($second, $backtwo);
    border: 3px $third solid;
}
.color a{
    text-decoration: none;
    color: $third;
    font-weight: bold;
}
.color:hover{
    @include colors(black,white);
}
//titulo principal de contacto.html
.tit-cont{
    font-size: 50px;
    font-weight: bold;
    color: $second;
}
//hover para todos los h1 y h2 
.h2:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.h1:hover{
    animation-name: girar;
    animation-duration: 3s;
    animation-delay: 0s;
}
//personalizacion de imagenes de nosotros
.imgCar{
        width: 250px;
        height: 250px;
        margin: 3px;
    }
/* keyframes */
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes girar{
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100% {
        transfom:rotateX(360deg);
    }
}