//contenedor main para todos los html
.main{
    margin-top: 220px;
    min-height: 86vh;
}
//container index
.containerIndex {  
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tit tit"
      "texto1 fot";
    margin-top: 3px;
    margin-bottom: 5px;
    justify-content: space-between;
}
// clases del grid de index.html
.tit { 
    grid-area: tit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    h1{
        font-size: 75px;
        color: $titles;
        animation-name: title;
        animation-duration: 3s;
    }
}  
.texto1 { 
    grid-area: texto1;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    margin-left: 10px;
} 
.fot {
    grid-area: fot;
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    margin: auto;
} 
//clase de animacion para index.html, nosotros.html y productos.html
.principal {
    animation-duration: 2s;
    animation-name: slidein;
}
//galeria de productos animacion y medidas
.container img{
    @extend %medidasImg;
}
.container img:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    transition-duration: 1s;
    border: $second solid 2px;
    border-radius: 5px;
}
//modificacion de etiqueta strong
strong{
    font-weight:normal;
}
//clase titulos productos.html
.titleProd{
    color: $titles;
}
//clases para texto de todos los htmls
.textos{
    font-size: 45px;
    color: $color4;
}
//clase de titulos h1
.titulos{
    font-size: 75px;
    color: $titles;
}
//agregado de hover Fotos novedades.html 
.fotoNov:hover{
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition-duration: 2s;    
}
//titulos h2 y texto novedades.html
.h2{
    color: $titles;
    font-family: $fontNov;
    font-size: 40px;
}
.novedades{
    color: $color4;
    font-family: $fontNov;
    font-size: 30px;
}
//tabla de contacto.html
.table{
    border: solid $third 5px;
    color: $second;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 50vw;
    .__body {
        td{
        text-align: center;
        margin: 0 auto;
        width: 100vw;
        }
    }    
}
.__body td:hover{
    transform: scale(2);
    transition-duration: 1s;
    color: $titles;
}
//formulario de contacto.html y agregado de clase en boton de nosotros.html con hover
.color{
    @include colors($second, $backtwo);
    border: 3px $third solid;
    :hover{
        @include colors($text,white);
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: $second;
    }
}
//contenido de nosotros.html
.nosot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    p{
        width: 50vw;
    }
    .__nosotImg{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        img{
            width: 250px;
            height: 250px;
            margin: 3px;
        }
    }
}
//titulo principal de contacto.html
.tit-cont{
    font-size: 50px;
    font-weight: bold;
    color: $titles;
}
//hover para todos los h1 y h2 
.h2:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.h1:hover{
    animation-name: girar;
    animation-duration: 3s;
    animation-delay: 0s;
}
/* keyframes */
@keyframes slidein{
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
@keyframes girar{
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100% {
        transfom:rotateX(360deg);
    }
}
@keyframes title{
    0%{
        font-size: 350px;
        text-shadow: 1px 1px 2px #C98986, 0 0 1em #f329f3, 0 0 0.2em #f329f3;
    }   
    100%{
        text-shadow: 1px 1px 2px #C98986, 0 0 1em #f329f3, 0 0 0.2em #f329f3;
    }
}
//media queries - adaptando grid para que sea responsive
@media (min-width: 280px) and (max-width:769px){
    .tit{
        margin-bottom: auto;
    }
    .texto1{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .fot{
        margin: auto;
    }
    .textos{
        text-align: center;
        font-size: 20px;
    }
}
@media (max-width:600px){
    //modificacion grid de index
    .containerIndex{
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 15% 40% 45%;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
            "tit "
            "texto1 "
            "fot "; 
        justify-content: center;
        }
    //modificacion clases internas de grid
    .tit{
        h1{
            font-size: 40px;
            animation: none;
    }
    }
    .texto1{
        max-width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .fot{
        max-width: 100%;
    }
    //modificacion de textos
    .textos{
        text-align: center;
        font-size: 20px;
    }
    //modificacion size tabla contacto.html
    .__body td{
        font-size: xx-small;
    }
    .__body td:hover{
        transform: scale(2);
        transition-duration: 1s;
        color: $titles;
    }
}