//font type
$fontNov: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//background gradiente
$backone: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
// Paleta de colores que voy a utilizar
$second: #ee5c74;
$primary: #d63384;
$third: #C179B9;
$backtwo: #fdcbf1;
$backbody: #8080803f;
$text: black;
$titles: #502274;
$color4: #A42CD6;
$link: #c98986;

